@import './default.less';

.container {
  background: red;
  .nav__left {
    background-color: #002140;
    color: #ffffff;
    height: calc(100vh);
  }
  .main {
    height: calc(100vh);
    overflow: auto;
    background-color: @colorL;
  }
  .content {
    position: relative;
    padding: 20px;
  }
}

.flex {
  display: flex !important;
}
.flex_v {
	display: flex;
	flex-direction: column;
}
.flex_cc {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex_c {
  display: flex;
  align-items: center;
}
.flex_cj {
  display: flex;
  justify-content: center;
}
.flex_lc {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flex_r {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.flex_sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex_wrap {
  flex-flow: wrap;
}

/* 边距 */
.mt10 { margin-top: 10px; }
.mt20 { margin-top: 20px; }
.mt30 { margin-top: 30px }
.mb10 { margin-bottom: 10px; }
.mb20 { margin-bottom: 20px; }
.mb30 { margin-bottom: 30px }
.ml10 { margin-left: 10px; }
.ml20 { margin-left: 20px; }
.ml30 { margin-left: 30px }
.mr10 { margin-right: 10px; }
.mr20 { margin-right: 20px; }
.mr30 { margin-right: 30px; }

.pt5 { padding-top: 5px }
.pb5 { padding-bottom: 5px; }
.pt10 { padding-top: 10px; }
.pt20 { padding-top: 20px; }
.pb10 { padding-bottom: 10px; }
.pb20 { padding-bottom: 20px; }
.pl10 { padding-left: 10px; }
.pl20 { padding-left: 20px; }
.pr10 { padding-right: 10px; }
.pr20 { padding-right: 20px; }
.pa20 { padding: 20px; }

/* 字体 */
.fn12 { font-size: 12px; }
.fn14 { font-size: 14px; }
.fn16 { font-size: 16px; }
.fn18 { font-size: 18px; }
.fn55 {
  font-size: 50px;
  color: #36c726;
}
.fn-bold { font-weight: bold; }
.fn_w { font-weight: 600; }
.fn_b { color: #11131A; }
.fn_t { color: #3C3F4D; }
.fn_tt { color: #8C8E99; }
.fn_d { color: #1890FF; }
.tx-al { text-align: left; }
.tx-ac { text-align: center; }
.tx-ar { text-align: right; }
.text_one {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.text_two {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.text_wrap {
  word-wrap: break-word;
}
.flex_wrap {
  flex-wrap: wrap;
}
.no_wrap { white-space: nowrap; }

.bgf { background: #ffffff; }
.wf { width: 100%; }
.wh { width: 50%; }
.w100 { width: 100px !important; }
.w200 { width: 200px; }
.hf { height: 100%; }
.box {
  box-sizing: border-box;
}

/* 浮动 */
.fl { float: left; }
.fr { float: right; }
.clearfix:after {
  content: '';
  display:block;
  height: 0;
  clear: both;
  visibility: hidden;
}

// 小手
.cp {
  cursor: pointer;
}

// 边框
.bt {
  border-top: 1px solid #E5E6E8;
}
.bb {
  border-bottom: 1px solid #E5E6E8;
}
.ba { border: 1px solid #E5E6E8; }